@media (max-width: 768px) {
 .body-width {
  width: 100%;
 }
  h2 {
    text-align: center;
  }
  .nav-container {
    padding: 20px 10px;
    justify-content: center;
  }
  div.navigation-links-container ul {
    gap: 1em;
    font-size: 1em;
  }

  section#home-intro {
    height: 50vh;
  }

  section#home-intro div {
    flex-direction: column;
  }

  section#home-intro-text {
    flex-direction: column;
    margin: 0;
  }

  section#home-intro-text div {
    width: 100%;
    padding: 40px;
  }

  section#home-intro-text p {
    margin: 10px;
  }

  #skills {
    height: auto;
  }

  #technos > span {
    margin: auto;
  }

  /* Partie portfolio */
  div.project-container {
    width: 300px;
  }

  #home-projects {
    flex-direction: column;
  }

  #home-projects .left-section {
    width: 100%;
  }

  #home-projects .left-section img.project-home {
    height: 400px;
  }

  #home-projects .right-section {
    width: 100%;
    padding: 75px 0;
  }

  /* Page article */
  section.single-post {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  div.left-container {
    width: 100%;
  }

  div.left-container div {
    margin: 30px 0;
  }

  div.left-container div > p {
    text-align: center;
  }

  div.right-container {
    width: 90%;
    margin: 10px 0;
    height: 350px ;
  }

  /* Page Contact */
  section#form-page {
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 2em;
  }

  section#form-page .form-text {
    width: 100%;
  }

  /* Gestion articles */
  div.gestionComment {
    flex-direction: column;
  }

  /* Gestion Comments */
  div.gestionComment {
    margin: 20px 0;
  }
  
}
