/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --light: #ececec;
  --light-blue: #9fd3c7; 
  --dark-blue: #385170;
  --dark: #142d4c; 
  font-family: "Itim", cursive;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

/* Base */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

.bxs {
  -webkit-box-shadow: 3px 3px 21px -7px #385170; 
  box-shadow: 3px 3px 21px -7px #385170;
}
.df {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.fdc {
  flex-direction: column;
}

.dfull {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}

.tac {
  text-align: center;
}

.gap {
  gap: 2em;
}

.mt{
 margin: 4em 5em;
}

.wp-portfolio {
  word-wrap: break-word;
  width: 90%;
}

.wp-article {
  word-wrap: break-word;
  width: 100%;
}

.page-title {
font-size: 1em;
color: var(--dark);
text-transform: uppercase;
text-decoration: underline;
text-underline-offset: 8px;
text-align: center;
margin: 30px 0;
}

.fw {
  flex-wrap: wrap;
}

.pd {
  padding: 100px 0;
}

.menu-user li a {
  margin-right: 20px;
}

/* Formulaires */
.form-container {
  margin-bottom: 50px !important ;
}

#form-page {
  height: 80vh;
}
.form-text {
  width: 80%;
  text-align: center;
}

.contact-form {
  margin-right: 20px;
}

/* Tailles */
.body-width {
  width: 70%;
  margin: auto;
}

.pd20 {
padding: 20px;
}

.w50 {
  width: 50%;
}

div.adminContent a.w350 {
  width: 350px;
  text-align: center;
}

.h300 {
  height: 300px;
}

.vh {
  height: 90vh;
}

/* Taille icones */
.fa-solid {
  font-size: 3em;
  width: auto;
  margin: 15px 0;
}

/* Colors */
.light {
  color: var(--light);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.dark {
  color: var(--dark);
}

.dark-blue {
  color: var(--dark-blue);
}

.bg-dark {
  background-color: var(--dark);
}

/* Button Style */

.btn {
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: fit-content;
}

button.btn a {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-green {
  background-color: #67a878;
  transition: background-color 0.3s ease;
  color: white;
}
.bg-red {
  background-color: #9c4868;
  color: white;
}

.btn-hover:hover {
  background-color: #142d4c;
}

button.btnSubmitComment {
  margin-bottom: 20px;
}

/* Barre de navigation */
.nav-container {
background: var(--dark);  
padding: 40px 100px;
gap: 3em;
}

.logo {
  width: 15em;
  align-items: start;
}

div.navigation-links-container ul {
  gap: 2em;
  font-size: 1.5em;
  cursor: pointer;
}

div.navigation-links-container ul li a:hover
{
  color: var(--light-blue);
}

ul.menu-user li a:hover {
  color: var(--dark-blue);
}
/* Home Page */
.tech-skills-container {
  background: var(--dark);
  color: var(--light);
}

.skills {
  padding: 10px 40px;
  border-radius: 4px;
  border: none;
}

img.project-home {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  height: 500px;  
}

/* Mini section navigation entre les pages */

.pagesNav a {
  padding: 20px;
}

.pagesNav > a:hover {
color: #67a878;
}

/* Page projets */

section.portfolio {
  padding: 40px 0;
  gap: 2em;
}

div.project-container {
  width: 400px;
  padding: 20px 0;
  border-radius: 5px;
}

div.project-container:hover {
 background-color: var(--dark-blue);
}

div.project-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

div.project-contain {
  gap: 2em;
  padding: 0 20px;
}

/* Single Page */

div.comment-container, .info-article {
  width: 90%;
  padding: 20px;
}
div.comment {
  border: 2px solid var(--light);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
section.single-post {
  width: 100%;
}

div.left-container {
  width: 50%;
}

div.right-container {
  width: 30%;
  height: 600px;
}

div.right-container img {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Image lors de la modification d'article */

.singleImg {
  width: -webkit-fill-available;
}
/* Page administration */
.adminContent {
  height: 70vh;
}
/* Menu user  */

span.hello-user {
  font-size: 1em;
  color: var(--light-blue);
  text-align: center;
  padding: 20px;
  border: 2px solid var(--light-blue);
}
ul.menu-user {
  color: var(--dark);
  background-color: var(--light-blue);
  padding: 15px;

}

/* ListCom pages  */

div.listComments {
  margin-bottom: 150px;
}

div.gestionComment {
  border-radius: 20px;
  padding: 15px;
  width: 70%;
  margin: 10px 0;
}

div.com {
  width: 70%;
}

div.comChoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Error Page  */
.container-error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-message {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.error-message h1 {
  font-size: 100px;
  margin: 0;
}

.error-message p {
  font-size: 18px;
  margin-bottom: 25px;
}

/* Footer  */
footer {
  border-top: 2px solid var(--light-blue);
  background-color: var(--dark);
  padding: 20px;
  text-align: center;
}

div.footer-logo img {
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;
}

div.footer-links {
  margin-bottom: 15px;
}

div.footer-links a {
  text-decoration: none;
  color: var(--light-blue);
  margin: 0 15px;
}

div.footer-links a:hover {
  color: white;
}

div.footer-socials {
  margin-bottom: 15px;
}

div.footer-socials a {
  color: var(--light-blue);
  margin: 0 10px;
  font-size: 24px;
}

div.footer-socials a:hover {
  color: var(--extra-light-blue);
}

div.footer-legal {
  font-size: 14px;
  color: white;
}

/* Responsive  */

@media (max-width: 768px) {
  .footer-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
  }

  .footer-links a {
      margin: 5px 0;
      padding-bottom: 4px; /* Augmenter l'espacement sous le texte pour la version mobile */
  }

  .footer-socials {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
  }

  .footer-socials a {
      margin: 0 8px;
      font-size: 20px;
  }

  .footer-legal {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
      max-width: 120px;
  }

  .footer-socials a {
      font-size: 18px;
  }

  .footer-legal {
      font-size: 10px;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
