{% extends 'base.html.twig' %} {% block body %}

<h1>Administration</h1>
<a href="index.php?action=listComments">Gerér les commentaire</a>
<a>Gerér les utilisateurs</a>
<a href="index.php?action=createArticle">Ajouter un article</a>

{% endblock %} 