{% extends 'base.html.twig' %} {% block body %}

<h1 class="page-title">Administration</h1>
<div class="dfull gap adminContent fdc">
<a class="btn bg-green btn-hover w350" href="index.php?action=listComments">Gestion des commentaire</a>
<a class="btn bg-green btn-hover w350" href="index.php?action=getListArticles">Gestion des articles</a>
</div>

{% endblock %}
