{% extends 'base.html.twig' %} {% block body %}

<section id="home-intro" class="dfull bg-light-blue h300">
  <div class="body-width dfull jcsb">
    <div class="dfull fdc dark">
      <i class="icone fa-solid fa-user-graduate"></i>
      <p class="tac">Web développeuse </br> diplômée</p>
    </div>

    <div class="dfull fdc dark">
      <i class="icone fa-solid fa-code"></i>
     <p>Frontend & Backend</p>
    </div>

    <div class="dfull fdc dark">
      <i class="icone fa-solid fa-calendar-days"></i>
      <p>3 ans d’expérience</p>
    </div>
  </div>
</section>

<section id="home-intro-text" class="dfull">

  <div class="bg-dark w50 light">
    <p class="mt">Bienvenue sur mon portfolio de développeuse web ! </br>
                  Bonjour et merci de visiter mon portfolio ! Je m'appelle Jessica GARRIDO, et je suis passionnée par le développement web. </br>
                  Ce blog est à la fois une vitrine de mes projets et un espace d'échange où je partage mes réalisations, mes apprentissages, et mes idées. </br>
                  Vous découvrirez ici une collection de mes travaux, allant de sites web interactifs à des applications web innovantes. Chaque projet est accompagné d'une description détaillée, de défis rencontrés et des solutions que j'ai apportées. </br>
                  N'hésitez pas à explorer, commenter, et partager vos impressions. Vos retours sont précieux pour moi et me permettent de m'améliorer constamment.</br></br>
                  Bonne visite et au plaisir d'échanger avec vous !
    </p>
  </div>

  <div class="w50 dfull fdc gap">
    <p>Vous n'êtes pas encore inscrit ?</p>
    <a  href="index.php?action=register" class="btn bg-light-blue">Inscription</a>
  </div>

</section>

<section id="skills" class="bg-light-blue h300 dfull">
  <div class="body-width df fdc gap pd">

    <h2>TECHSKILLS</h2>

    <div class="df gap fw">
      <span class="bg-dark light skills bxs">HTML</span>
      <span class="bg-dark light skills bxs">CSS</span>
      <span class="bg-dark light skills bxs">JAVASCRIPT</span>
      <span class="bg-dark light skills bxs">REACT</span>
      <span class="bg-dark light skills bxs">PHP</span>
      <span class="bg-dark light skills bxs">WORDPRESS</span>
    </div>

  </div>

</section>

<section id="home-projects" class="dfull bg-dark ">

  <div class="w50 light">
    <img class="project-home" src="img/project-home.png" alt="logo su site" />
  </div>

  <div class="w50 dfull fdc gap light">
    <p>VOUS SOUHAITEZ EXPLORER </br>
      MES DIFFERENTS PROJETS ?</p>
    <button class="btn bg-light-blue dark">PROJETS</button>
  </div>

</section>

{% endblock %}
