{% extends 'base.html.twig' %} {% block body %}

 <div class="body-width">
    <h2 class="page-title">Se connecter</h2>
 </div>

 <section class=" form-container body-width dfull">
    <div class="w50">
        <p class="form-text">Connectez-vous à votre compte pour ajouter des messages sous mes posts</p>
    </div>

    <div class="contact-form w50">
        <form action="index.php?action=login" method="POST">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <button name="submitLogin" type="submit" class="btn dark bg-light-blue">Se connecter</button>
        </form>
    </div>

</section>
{% endblock %}