<nav>
  <div class="nav-container dfull jcsb">
    <div class="logo-container">
      <a href="#">
        <img class="logo" src="img/jg-logo.png" alt="logo su site" />
      </a>
    </div>

    <div class="navigation-links-container">
      <ul class="light df">
        <li><a href="index.php">Accueil</a></li>
        <li><a href="index.php?action=articles">Projets</a></li>
        <li><a href="index.php?action=contact">Contact</a></li>
      </ul>
    </div>
    <div class="light">
      <a href="index.php?action=login">Se connecter</a>
      <a href="index.php?action=register">S'incrire</a>
    </div>
  </div>
</nav>
